*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.secret{
    text-align: center;
    margin-top: 10px;
    font-family: 'IBM Plex Serif', serif;
    color: #212121;
}
.header{
    font-family: 'Cinzel', serif;
}
.message{
    float: right;
    margin-top: 8px;
    font-size: 1.4em;
    font-family: 'Pontano Sans', sans-serif;
}
.success{
    color: #4E9F3D;
}
.fail{
    color: #FF2626;
}
@media (max-width: 500px) {
    .message{
    font-size: 1em;
    }
}