*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard{
    text-align: center;
    margin-top: 10px;
    font-family: 'IBM Plex Serif', serif;
    color: #212121;
}
.margin{
    margin-top: 10px;
}
.secret-card{
    height: 275px;
    transition: 0.3s ease;
    cursor: pointer;
    width: 100%;
}
.secret-card h5{ font-size: 1.2rem; }
.secret-card h6{ font-size: 0.9rem; }
.secret-card p { font-size: 0.9rem; }
.secret-card:hover{
    transform: translateY(-6px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.grid-secret{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 40px;
}
.profile{
    text-align: center;
}
.username{
    color: #525252;
    font-family: 'Cantarell', sans-serif;
}
img.avatar{
    width: 20vw;
    border-radius: 50%;
}
.add-link,
.add-link:hover,
.add-link:active{
    color: black;
    cursor: pointer;
}
.add-icon{
    position: fixed;
 bottom:5px;
 right:5px;
    width: 7vw;
    height: 7vh;
}
@media(max-width: 500px){
    .grid-secret{
        grid-template-columns: 1fr;
    }
    .secret-card{
        width: 50vw;
    }
}
