*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ background-color: #eff0f3; }
.secret{
    text-align: center;
    cursor: default;
    font-family: 'Source Serif Pro', serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.register{
    height: auto;
    width: 90vw;
    margin-top: 100px;
}
.bordered{ border-right: 2px solid black; }
.register h2{ font-family: 'Inconsolata', monospace; text-align: center;}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#register-form{ margin-top: 50px; }
.error{
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: #FF0000;
}
@media (max-width: 535px) {
    .flex-container{
        flex-direction: column;
    }
    .error{
        font-size: 15px;
    }
}